.display-block {
  display: block; }

.margin-top-0 {
  margin-top: 0; }

.float-none {
  float: none; }

/*a.previousPage {
    display: none;
}*/
ol.list-number-outside {
  margin-left: -20px; }
  ol.list-number-outside .panel-indent details .panel-indent {
    border-left-width: 1px;
    margin-left: 5px;
    margin-bottom: 0; }

form ul.fieldset-labels li {
  clear: both; }
  form ul.fieldset-labels li > span {
    float: left;
    font-weight: bold;
    font-style: italic;
    margin-right: 20px; }
  form ul.fieldset-labels li > div {
    float: left; }
