{{<layout}}

{{$pageTitle}}
GOV.UK Reporting benefit fraud
{{/pageTitle}}

{{$content}}
<main id="content" role="main" class="content">
    <div class="outer-block">
        <div class="inner-block">
            <div class="phase-banner">
                <p><strong class="phase-tag">Alpha</strong> <span>This is a new service – your <a href="/rcm/dummy">feedback</a> will help us to improve it.</span></p>
            </div>
        </div>
    </div>

    <h1 class="heading-xlarge">Showcase overview page</h1>

    <div class="text">
        <p>This page lists links to demonstration pages that showcase different options, behaviour etc.</p>
        <p>Needless to say - this page and its links will not go live.</p>
    </div>
    <div class="text">
        <ul class="list-bullet">
            <li><a href="showcase/checkboxes">Checkboxes</a></li>
            <li><a href="showcase/identify-suspect-alternatives">Identify Suspect (alternative version)</a></li>
        </ul>
    </div>

    <a href="#" class="previousPage display-block-js">Back</a>

</main>

{{/content}}

{{/layout}}
