{{<layout}}

{{$pageTitle}}
GOV.UK Reporting benefit fraud: Dishonestly claiming a disability or carers benefit
{{/pageTitle}}

{{$content}}
<main id="content" role="main" class="content">
    <div class="outer-block">
        <div class="inner-block">
            <div class="phase-banner">
                <p><strong class="phase-tag">Alpha</strong> <span>This is a new service – <a href="dummy">your feedback</a> will help us to improve it.</span></p>
            </div>
        </div>
    </div>


    <div class="back-link"><a href="type-of-fraud" class="previousPage js-routed">Back</a></div>

    <h1 class="heading-large">
        Dishonestly claiming carers benefit
    </h1>

    <span id="IEuserData" name="IEuserData" class="IEuserData"></span>

    <form method="post" action="living-abroad/" id="form__carers" class="js-check js-routed">

        <fieldset>
            <legend class="a11y">Dishonestly claiming carers benefit</legend>
            <div class="validation-group" data-validation-type="required--one" data-validation-message="Please tell us why you think they're dishonestly claiming carers benefit">
                <label class="form-label legend" for="carers">Why do you think that?</label>
                <textarea class="form-control" id="carers" rows="5" name="carers"></textarea>
            </div>
        </fieldset>


        <input id="submit" type="submit" class="button" value="Continue" />

    </form>
</main>






{{/content}}

{{/layout}}