{{<layout}}

{{$pageTitle}}
GOV.UK Reporting benefit fraud: You've completed your report
{{/pageTitle}}

{{$content}}
<main id="content" role="main" class="content">
    <div class="outer-block">
        <div class="inner-block">
            <div class="phase-banner">
                <p><strong class="phase-tag">Alpha</strong> <span>This is a new service – your <a href="dummy">feedback</a> will help us to improve it.</span></p>
            </div>
        </div>
    </div>

    <div class="form-submitted">
        <h1 class="heading-xlarge"><span aria-hidden="true">&#10003;</span>Thank you.</h1>
        <p class="heading-large">Your report has been sent.</p>
    </div>
    
    <h2 class="heading-medium">
        What happens next
    </h2>

    <div class="text">
        <p>The Department for Work and Pensions will check their benefits records and may contact the person you've reported.</p>
        <p>Investigations can take many months and we can't tell you the outcome. You don't need to do anything else.</p>
    </div>



</main>

{{/content}}

{{/layout}}
