{{<layout}}

{{$pageTitle}}
GOV.UK Reporting benefit fraud: You've completed your report
{{/pageTitle}}

{{$content}}
<main id="content" role="main" class="content">
    <div class="outer-block">
        <div class="inner-block">
            <div class="phase-banner">
                <p><strong class="phase-tag">Alpha</strong> <span>This is a new service – your <a href="dummy">feedback</a> will help us to improve it.</span></p>
            </div>
        </div>
    </div>

    <div class="form-submitted">
        <h1 class="heading-xlarge">&#10003; Report submitted</h1>
        <div class="text">
            <p>By reporting suspected benefit fraud you are helping us to save taxpayers money.</p>
            <p>The information you have provided is important to us.  We will treat it in the strictest of confidence.</p>
        </div>
    </div>

    <div class="text">
        <p>Investigations may take some time and there is no need to submit a report again unless you have new information. You will receive no further updates from us.</p>
        <p>Thank you.</p>
    </div>



</main>

{{/content}}

{{/layout}}
