{{<layout}}

{{$pageTitle}}
GOV.UK Reporting benefit fraud: You've completed your report
{{/pageTitle}}

{{$content}}
<main id="content" role="main" class="content">
    <div class="outer-block">
        <div class="inner-block">
            <div class="phase-banner">
                <p><strong class="phase-tag">Alpha</strong> <span>This is a new service – your <a href="dummy">feedback</a> will help us to improve it.</span></p>
            </div>
        </div>
    </div>

    <div class="green">
        <h1 class="heading-xlarge">Report submitted</h1>
        <div class="text">
            <p>We would like to thank you for the information you have provided.</p>
            <p>It is important to us and will be treated in the strictest of confidence.</p>
            <p>It will be passed to the relevant Government agency for action.</p>
            <p>You are helping us to save tax payer's money.</p>
        </div>
    </div>



</main>

{{/content}}

{{/layout}}
