{{<layout}}

{{$pageTitle}}
GOV.UK Reporting benefit fraud
{{/pageTitle}}

{{$content}}
<main id="content" role="main" class="content">
    <div class="outer-block">
        <div class="inner-block">
            <div class="phase-banner">
                <p><strong class="phase-tag">Alpha</strong> <span>This is a new service – <a href="/rcm/dummy">your feedback</a> will help us to improve it.</span></p>
            </div>
        </div>
    </div>

    <h1 class="heading-large">Before you start</h1>
    <p>To report someone you must give the following details:</p>
    <ul class="list-bullet margin-bottom-big">
        <li>full name</li>
        <li>date of birth or an approximate age</li>
        <li>full address including post code</li>
    </ul>
    <p>Without this information <abbr title="Department for Work and Pensions">DWP</abbr> can't identify or investigate the person</p>

    <span id="IEuserData" name="IEuserData" class="IEuserData"></span>

    <noscript>
        <h2 class="heading-large">Please enable javascript</h2>
        <p class="text">
            This website needs javascript to function, but your browser either doesn't support it or it has been disabled. Please enable it if you can, or use a different browser.
        </p>

    </noscript>
    <div class="display-block-js">
    <form action="/rcm/identify-suspect" method="get" class="js-check">
        <input type="submit" class="button" value="I agree - start my report">
    </form>
        </div>


</main>

{{/content}}

{{/layout}}
