{{<layout}}

{{$pageTitle}}
GOV.UK Reporting benefit fraud: Dishonestly claiming a disability or carers benefit
{{/pageTitle}}

{{$content}}
<main id="content" role="main" class="content">
    <div class="outer-block">
        <div class="inner-block">
            <div class="phase-banner">
                <p><strong class="phase-tag">Alpha</strong> <span>This is a new service – <a href="dummy">your feedback</a> will help us to improve it.</span></p>
            </div>
        </div>
    </div>


    <div class="back-link"><a href="type-of-fraud" class="previousPage js-routed">Back</a></div>

    <h1 class="heading-large">
        <span class="heading-secondary">Section 1 of 4</span>
        About this person
    </h1>

    <span id="IEuserData" name="IEuserData" class="IEuserData"></span>

    <form method="post" action="identity-fraud/" id="form__disability-or-carers" class="js-check">

        <fieldset aria-live="polite">
            <legend>Are they dishonestly claiming a disability or carers benefit?</legend>

            <div class="validation-group inline toggle-control" data-toggle-target="section--disability-or-carers" data-validation-type="required--one" data-validation-message="Please tell us if you think this person is dishonestly claiming disability or carers benefit">
                <label class="block-label" for="disability-or-carers__yes">
                    <input id="disability-or-carers__yes" type="radio" class="toggle-section toggle--focus" name="helper--disability-or-carers" value="Yes">
                    Yes
                </label>
                <label class="block-label" for="disability-or-carers__no">
                    <input id="disability-or-carers__no" type="radio" name="helper--disability-or-carers" value="No">
                    No
                </label>
            </div>


            <div class="section--disability-or-carers section--disability-or-carers__yes toggle-controlled panel-indent validation-group" aria-describedby="disability-or-carers__yes" tabindex="0" data-validation-type="required--one" data-validation-message="Please tell us why you think they're dishonestly claiming this benefit">
                <label class="form-label legend" for="disability-or-carers">Why do you think that?</label>
                <textarea class="form-control" id="disability-or-carers" rows="5" name="disability-or-carers"></textarea>
            </div>
        </fieldset>


        <input id="submit" type="submit" class="button" value="Continue" />

    </form>
</main>






{{/content}}

{{/layout}}