{{<layout}}

{{$pageTitle}}
GOV.UK Reporting benefit fraud: Dummy page
{{/pageTitle}}

{{$content}}
<main id="content" role="main" class="content">
    <div class="outer-block">
        <div class="inner-block">
            <div class="phase-banner">
                <p><strong class="phase-tag">Alpha</strong> <span>This is a new service – your <a href="dummy">feedback</a> will help us to improve it.</span></p>
            </div>
        </div>
    </div>

    <h1 class="heading-xlarge">This is a dummy page</h1>

    <div class="text">
        <p>Cliche paleo vegan, cold-pressed scenester blog flexitarian High Life biodiesel. Hashtag narwhal you probably haven't heard of them taxidermy, tilde ennui 8-bit salvia mixtape post-ironic skateboard squid. Cronut scenester drinking vinegar PBR 3 wolf moon, VHS semiotics hella. Actually farm-to-table direct trade, PBR&B flexitarian skateboard raw denim craft beer Pitchfork ugh salvia single-origin coffee. Biodiesel narwhal freegan selfies, skateboard mumblecore sartorial Pinterest locavore. Post-ironic seitan crucifix raw denim, American Apparel church-key aesthetic Austin chillwave DIY. Letterpress four loko hella Carles blog heirloom.

        </p>
    </div>



</main>

{{/content}}

{{/layout}}
