{{<layout}}

{{$pageTitle}}
GOV.UK Reporting benefit fraud: Who is working?
{{/pageTitle}}

{{$content}}
<main id="content" role="main" class="content">
    <div class="outer-block">
        <div class="inner-block">
            <div class="phase-banner">
                <p><strong class="phase-tag">Alpha</strong> <span>This is a new service – <a href="dummy">your feedback</a> will help us to improve it.</span></p>
            </div>
        </div>
    </div>

    <div class="back-link"><a href="{{previousPage}}#" class="previousPage">Back</a></div>

    <h1 class="heading-large">
        Employment
    </h1>

    <span id="IEuserData" name="IEuserData" class="IEuserData"></span>

    <form method="post" action="employment-suspect-then-partner/" id="form__employment-prompt" class="js-check">


        <fieldset aria-live="polite">
            <legend>
                Who is working?
                <span>Select all that apply</span>
            </legend>

            <div class="validation-group" data-validation-type="required--one" data-validation-message="Please tell us if the suspect and/ or their partner are working" >

                <label class="block-label" for="employment-suspect">
                    <input id="employment-suspect" type="checkbox" name="employment" value="Suspect">
                    The person I suspect of fraud <span class="a11y">is working</span>
                </label>

                <label class="block-label" for="employment-partner">
                    <input id="employment-partner" type="checkbox" name="employment" value="Partner">
                    Their partner <span class="a11y">is working</span>
                </label>


            </div>
        </fieldset>

        <input id="submit" type="submit" class="button" value="Continue" />
    </form>
</main>






{{/content}}

{{/layout}}