{{<layout}}

{{$pageTitle}}
GOV.UK Reporting benefit fraud: Who is working?
{{/pageTitle}}

{{$content}}
<main id="content" role="main" class="content">
    <div class="outer-block">
        <div class="inner-block">
            <div class="phase-banner">
                <p><strong class="phase-tag">Alpha</strong> <span>This is a new service – <a href="dummy">your feedback</a> will help us to improve it.</span></p>
            </div>
        </div>
    </div>

    <div class="back-link"><a href="identity-fraud" class="previousPage">Back</a></div>

    <h1 class="heading-xlarge">
        <span class="heading-secondary">Section 2 of 4</span>
        Work and income
    </h1>

    <h2 class="heading-large">Their employment</h2>

    <span id="IEuserData" name="IEuserData" class="IEuserData"></span>

    <form method="post" action="employment-suspect/" id="form__employment-prompt" class="js-check">
        <fieldset aria-live="polite">
            <legend>Does this person work?</legend>

            <div class="validation-group inline" data-validation-type="required--one" data-validation-message="Please tell us if the suspect is working" >

                <label class="block-label" for="employment-suspect-yes">
                    <input id="employment-suspect-yes" type="radio" name="employment" value="Yes">
                    <span aria-hidden="true">Yes</span><span class="a11y">Yes, this person works</span>
                </label>

                <label class="block-label" for="employment-suspect-no">
                    <input id="employment-suspect-no" type="radio" name="employment" value="No">
                    <span aria-hidden="true">No</span><span class="a11y"> No, this person doesn't work</span>
                </label>

            </div>
        </fieldset>

        <input id="submit" type="submit" class="button" value="Continue" />
    </form>
</main>






{{/content}}

{{/layout}}