{{<layout}}

{{$pageTitle}}
GOV.UK Reporting benefit fraud: The suspect's employment
{{/pageTitle}}

{{$content}}
<main id="content" role="main" class="content">
    <div class="outer-block">
        <div class="inner-block">
            <div class="phase-banner">
                <p><strong class="phase-tag">Alpha</strong> <span>This is a new service – <a href="dummy">your feedback</a> will help us to improve it.</span></p>
            </div>
        </div>
    </div>

    <div class="back-link"><a href="{{previousPage}}#" class="previousPage">Back</a></div>

    <h1 class="heading-large">
        The person you’re reporting: their employment
    </h1>

    <span id="IEuserData" name="IEuserData" class="IEuserData"></span>

    <form method="post" action="employment-partner/" id="form__employment-suspect" class="js-check">

        <fieldset aria-live="polite">
            <legend class="a11y">Work location</legend>

            <div class="validation-group" data-form-validation-id="work-location" data-validation-type="required--one" data-validation-message="Please tell us where they work">
                <label class="form-label legend" for="work-location">Where does this person work?</label>
                <textarea id="work-location" class="form-control" rows="5" name="work-location"></textarea>
            </div>


            <div class="validation-group toggle-control" data-toggle-target="section--self-employed" data-validation-type="required--one" data-validation-message="Please tell us if this person is self-employed">
                <legend>Is this person self employed?</legend>
                <label class="block-label" for="self-employed__yes">
                    <input id="self-employed__yes" type="radio" class="toggle-section" name="helper--self-employed" value="Yes">
                    <span aria-hidden="true">Yes</span><span class="a11y"> Yes, this person is self-employed</span>
                </label>
                <label class="block-label" for="self-employed__no">
                    <input id="self-employed__no" type="radio" class="toggle-section" name="helper--self-employed" value="No">
                    <span aria-hidden="true">No</span><span class="a11y"> No, this person is not self-employede</span>
                </label>
                <label class="block-label" for="self-employed__unknown">
                    <input id="self-employed__unknown" type="radio" class="toggle-section" name="helper--self-employed" value="Unknown">
                    I don't know
                </label>
            </div>

            <div class="section--self-employed section--self-employed__yes toggle-controlled panel-indent validation-group" data-validation-type="required--one" data-validation-message="Please tell us what kind of work they do">
                <label class="form-label" for="self-employed--type-of-work">What type of work do they do?</label>
                <input type="text" class="form-control" id="self-employed--type-of-work" name="self-employed--type-of-work" autocomplete="off">
            </div>



            <div class="validation-group" data-form-validation-id="work-duration" data-validation-type="optional--one">
                <label class="form-label legend" for="work-duration">How long have they been working?</label>
                <input type="text" id="work-duration" class="form-control" name="work-duration" autocomplete="off">
            </div>

            <div class="validation-group" data-form-validation-id="timings" data-validation-type="not-required--one">

                <label class="form-label legend" for="timings">
                    What time do they leave and return home?
                    <span  class="form-hint">Indicate whether their working days or times vary</span>
                </label>
                <textarea id="timings" class="form-control" rows="5" name="timings"></textarea>

            </div>
        </fieldset>

        <input id="submit" type="submit" class="button" value="Continue" />

    </form>


</main>






{{/content}}

{{/layout}}