{{<layout}}

{{$pageTitle}}
GOV.UK Reporting benefit fraud: The partner's employment
{{/pageTitle}}

{{$content}}
<main id="content" role="main" class="content">
    <div class="outer-block">
        <div class="inner-block">
            <div class="phase-banner">
                <p><strong class="phase-tag">Alpha</strong> <span>This is a new service – <a href="dummy">your feedback</a> will help us to improve it.</span></p>
            </div>
        </div>
    </div>

    <div class="back-link"><a href="employment-suspect-then-partner/" class="previousPage js-routed">Back</a></div>

    <h1 class="heading-xlarge">
        <span class="heading-secondary">Section 3 of 4</span>
        Living arrangement
    </h1>

    <span id="IEuserData" name="IEuserData" class="IEuserData"></span>

    <form method="post" action="review/" id="form__employment-partner" class="js-check">

        <fieldset aria-live="polite">
            <legend>Employment status</legend>

            <!-- employed/ self-employed/ unknown -->
            <div class="validation-group toggle-control separate" data-toggle-target="section--employment-status" data-validation-type="required--one" data-validation-message="Please tell us about this person's employment">
                <!-- employed-->
                <label class="block-label" for="employment-status__employed">
                    <input id="employment-status__employed" type="radio" class="toggle-section toggle--focus" name="helper--employment-status" value="employed">
                    Employed
                </label>
                <!-- self-employed-->
                <label class="block-label" for="employment-status__self-employed">
                    <input id="employment-status__self-employed" type="radio" class="toggle-section toggle--focus" name="helper--employment-status" value="self-employed">
                    Self employed
                </label>
                <!-- unknown -->
                <label class="block-label" for="employment-status__unknown">
                    <input id="employment-status__unknown" type="radio" class="toggle-section toggle--focus" name="helper--employment-status" value="unknown">
                    I don't know
                </label>
            </div>

            <!-- employed -->
            <div class="section--employment-status section--employment-status__employed toggle-controlled panel-indent validation-group" aria-describedby="employment-status__employed" tabindex="0" data-validation-type="required--one-or-more" data-validation-message="Please give us some information about the employer">

                <!-- employer name -->
                <div class="form-group">
                    <label class="form-label" for="employer-name">Employer or company name</label>
                    <input type="text" class="form-control" id="employer-name" name="employment-status--employer-name" autocomplete="off">
                </div>

                <!-- address yes/ no-->
                <!--
                <div aria-live="polite">
                    <div class="validation-group inline toggle-control" data-toggle-target="section--employer-address" data-validation-type="required--one" data-validation-message="Please tell us if you know the employer's address" >
                        <p>Do you know the employer's address?</p>
                        <label class="block-label" for="employer-address__yes">
                            <input id="employer-address__yes" class="toggle-section" type="radio" name="helper--employment-status--employer-address" value="Yes">
                            <span aria-hidden="true">Yes</span><span class="a11y"> Yes, I know the employeer's address</span>
                        </label>
                        <label class="block-label" for="employer-address__no">
                            <input id="employer-address__no" class="toggle-section" type="radio" name="helper--employment-status--employer-address" value="No">
                            <span aria-hidden="true">No</span><span class="a11y"> No, I don't know the employer's address</span>
                        </label>
                    </div>


                    <div class="section--employer-address section--employer-address__yes toggle-controlled validation-group" aria-describedby="employer-address__yes" data-validation-type="required--one" data-validation-message="Please tell us as much as you can about the employer's address">
                        <label class="form-label" for="employer-address">Employer address</label>
                        <textarea id="employer-address" class="form-control" rows="5" name="employment-status--employer-address--yes"></textarea>
                    </div>

                    <div class="section--employer-address section--employer-address__no toggle-controlled validation-group" aria-describedby="employer-address__no" data-validation-type="required--one" data-validation-message="Please tell us as much as you can about the employer">
                        <label class="form-label" for="employer-information">Please give as much information as you can about the location of the business</label>
                        <textarea id="employer-information" class="form-control" rows="5" name="employment-status--employer-address--no"></textarea>
                    </div>
                </div>
                -->
                <!-- Address -->
                <div class="validation-group" data-validation-type="required--one" data-validation-message="Please tell us as much as you can about the employer's address or location">
                    <label class="form-label" for="employer-address">Employer address or location</label>
                    <textarea id="employer-address" class="form-control" rows="4" name="employment-status--employer-address"></textarea>
                </div>

                <!-- duration -->
                <div class="form-group">
                    <label class="form-label" for="work-duration">TIme with employer</label>
                    <input type="text" id="work-duration" class="form-control" name="employment-status--work-duration" autocomplete="off">
                </div>

                <!-- timings
                <div class="form-group">
                    <label class="form-label" for="employer-timings">What time do they leave and return from work?</label>
                    <textarea id="employer-timings" class="form-control" rows="5" name="employment-status--timings"></textarea>
                </div>
                 -->
            </div>

            <!-- self-employed -->
            <div class="section--employment-status section--employment-status__self-employed toggle-controlled panel-indent validation-group" aria-describedby="employment-status__self-employed" tabindex="0" data-validation-type="required--one-or-more" data-validation-message="Please give us some information about what they do">

                <!-- type of work -->
                <div class="form-group">
                    <label class="form-label" for="type-of-work">Type of work</label>
                    <input type="text" class="form-control" id="type-of-work" name="employment-status--type-of-work" autocomplete="off">
                </div>

                <!-- address -->
                <div class="form-group">
                    <label class="form-label" for="self-employed-address">Work address</label>
                    <textarea id="self-employed-address" class="form-control" rows="4" name="employment-status--self-employed-address"></textarea>
                </div>

                <!-- timings
                <div class="form-group">
                    <label class="form-label" for="self-employed-timings">What time do they work each day?</label>
                    <textarea id="self-employed-timings" class="form-control" rows="5" name="employment-status--self-employed-timings"></textarea>
                </div>
                 -->
            </div>

            <!-- unknown -->
            <div class="section--employment-status section--employment-status__unknown toggle-controlled panel-indent validation-group" aria-describedby="employment-status__unknown" tabindex="0" data-validation-type="required--one-or-more" data-validation-message="Please give us as much information about what they do as you can">
                <div class="form-group">
                    <label class="form-label" for="employment-other">Describe what you know about their employment</label>
                    <textarea id="employment-other" class="form-control" rows="5" name="employment-status--employment-other"></textarea>
                </div>
            </div>

        </fieldset>

        <input id="submit" type="submit" class="button" value="Continue" />

    </form>


</main>






{{/content}}

{{/layout}}