{{<layout}}

{{$pageTitle}}
GOV.UK Reporting benefit fraud: What type of fraud
{{/pageTitle}}

{{$content}}
<main id="content" role="main" class="content">
    <div class="outer-block">
        <div class="inner-block">
            <div class="phase-banner">
                <p><strong class="phase-tag">Alpha</strong> <span>This is a new service – your <a href="dummy">feedback</a> will help us to improve it.</span></p>
            </div>
        </div>
    </div>


    <h1 class="heading-xlarge">
        <span class="heading-secondary">Reporting benefit fraud</span>
        What type of fraud?
    </h1>


    <form method="post" action="complete" id="form-fraud-type" class="crm-check-form">
        <div class="form-group">
            <fieldset id="fieldset-fraud-type" data-error-message="Please select at least one type of fraud.">
                <legend class="form-label-bold heading-large">Which type of fraud do you want to report?</legend>
                <p>Please select all that apply</p>

                <label class="block-label" for="cb1">
                    <input id="cb1" name="fraud-type" class="input-fraud-type required--one-or-more" type="checkbox" value="workEarning">
                    Not telling us about earnings
                </label>
                <label class="block-label" for="cb2">
                    <input id="cb2" name="fraud-type" class="input-fraud-type required--one-or-more" type="checkbox" value="livingWithPartner">
                    Living with a partner while claiming to be living alone
                </label>
                <label class="block-label" for="cb3">
                    <input id="cb3" name="fraud-type" class="input-fraud-type required--one-or-more" type="checkbox" value="disabilityCarers">
                    Dishonestly claiming a disability or carers benefit
                </label>
            </fieldset>
            <h2 class="heading-large">Please note
                <span class="heading-secondary">that the following options are for demonstration purposes only. They will most definitely not live to see the Beta phase!
            </h2>
            <fieldset id="fieldset-fraud-type2" data-error-message="Please select at least one type of fraud type 2.">
                <legend class="form-label-bold heading-large">What type of fraud 2 do you want to report?</legend>
                <p>Please select at least one</p>

                <label class="block-label" for="cb21">
                    <input id="cb21" name="fraud-type2" class="input-fraud-type required--one-or-more" type="checkbox" value="workEarning">
                    Not telling us about earrings, wristbands and knee-high socks
                </label>
                <label class="block-label" for="cb22">
                    <input id="cb22" name="fraud-type2" class="input-fraud-type required--one-or-more" type="checkbox" value="livingWithPartner">
                    Living alone
                </label>
                <label class="block-label" for="cb23">
                    <input id="cb23" name="fraud-type2" class="input-fraud-type required--one-or-more" type="checkbox" value="disabilityCarers">
                    Dishonestly claiming a blahblah or careers benefit
                </label>

            </fieldset>

            <fieldset id="fieldset-fraud-type3" data-error-message="Please click fraud type 3 (the hat tax one).">
                <legend class="form-label-bold heading-large">Please tick the following box.</legend>
                <p>(It's the law)</p>


                <label class="block-label" for="cb31">
                    <input id="cb31" name="fraud-type3" class="input-fraud-type required--one-or-more" type="checkbox" value="workEarning">
                    Not paying hat tax
                </label>


            </fieldset>

        </div>

        <input type="submit" id="complete" class="button" value="Continue" />
    </form>

    <a href="{{previousPage}}" class="previousPage">Back</a>

</main>

{{/content}}

{{/layout}}
