{{<layout}}

{{$pageTitle}}
GOV.UK Reporting benefit fraud: Identity fraud
{{/pageTitle}}

{{$content}}
<main id="content" role="main" class="content">
    <div class="outer-block">
        <div class="inner-block">
            <div class="phase-banner">
                <p><strong class="phase-tag">Alpha</strong> <span>This is a new service – <a href="dummy">your feedback</a> will help us to improve it.</span></p>
            </div>
        </div>
    </div>


    <div class="back-link"><a href="type-of-fraud" class="previousPage js-routed">Back</a></div>

    <h1 class="heading-large">
        Identity fraud
    </h1>

    <span id="IEuserData" name="IEuserData" class="IEuserData"></span>

    <form method="post" action="undeclared-income/" id="form__identity-fraud" class="js-check js-routed">

        <fieldset>
            <legend class="a11y">Please tell us</legend>
            <div class="validation-group">
                <label class="form-label legend" for="identity-fraud">Why do you think they're committing identity fraud?</label>
                <textarea class="form-control" id="identity-fraud" rows="5" name="identity-fraud"></textarea>
            </div>
        </fieldset>


        <input id="submit" type="submit" class="button" value="Continue" />

    </form>
</main>






{{/content}}

{{/layout}}