{{<layout}}

{{$pageTitle}}
GOV.UK Reporting benefit fraud: Identify the partner
{{/pageTitle}}

{{$content}}
<main id="content" role="main" class="content">
    <div class="outer-block">
        <div class="inner-block">
            <div class="phase-banner">
                <p><strong class="phase-tag">Alpha</strong> <span>This is a new service – <a href="dummy">your feedback</a> will help us to improve it.</span></p>
            </div>
        </div>
    </div>

    <div id="submit-cover"><div class="bg"></div><div class="clock"><p>Please wait while we're submitting your report</p></div></div>

    <div class="back-link"><a href="{{previousPage}}#" class="previousPage">Back</a></div>

    <h1 class="heading-large">
        About their partner
    </h1>

    <span id="IEuserData" name="IEuserData" class="IEuserData"></span>

    <form method="post" action="employment-prompt/" id="form__identify-partner" class="js-check js-routed" DISABLED-data-form-validation-type="required--set" data-form-validation-sets="nino,name|nino,age|nino,dob|nino,address|name,age,address|name,dob,address|name,age,telephone|name,dob,telephone|name,age,email|name,dob,email|name,age,social-media|name,dob,social-media" data-form-validation-message="$message--fraud-suspect">

        <!-- NAME -->

        <fieldset aria-live="polite">
            <legend class="a11y">The partner's name</legend>

            <div class="validation-group" data-form-validation-id="name" data-validation-type="optional--one-or-more">

                <label class="form-label" for="first-name">First name</label>
                <input type="text" class="form-control" id="first-name" name="first-name" autocomplete="off">

                <label class="form-label" for="last-name">Last name</label>
                <input type="text" class="form-control" id="last-name" name="last-name" autocomplete="off">

            </div>

            <div class="validation-group toggle-control" data-toggle-target="section--alternative-name" data-validation-type="required--one" data-validation-message="Please tell us if you know this person by another name" >

                <p class="legend">Do you know this person by another name?<br>
                    <span class="form-hint">For example nickname, professional name or maiden name</span>
                </p>
                <label class="block-label" for="alternative-name__yes">
                    <input type="radio" id="alternative-name__yes" name="helper--alternative-name" value="Yes">
                    <span aria-hidden="true">Yes</span><span class="a11y"> Yes, I know this person by another name</span>
                </label>
                <label class="block-label" for="alternative-name__no">
                    <input type="radio" id="alternative-name__no" name="helper--alternative-name" value="No">
                    <span aria-hidden="true">No</span><span class="a11y"> No, I don't know this person by another name</span>
                </label>

            </div>

            <div class="section--alternative-name section--alternative-name__yes toggle-controlled panel-indent validation-group" data-form-validation-id="alternative-name" data-validation-type="required--one-or-more" data-validation-message="Please supply this other name.">

                <label class="form-label" for="alternative-first-name">First name</label>
                <input type="text" class="form-control" id="alternative-first-name" name="alternative-name--first-name" autocomplete="off">

                <label class="form-label" for="alternative-last-name">Last name</label>
                <input type="text" class="form-control" id="alternative-last-name" name="alternative-name--last-name" autocomplete="off">

            </div>
        </fieldset>

        <!-- AGE -->

        <fieldset aria-live="polite">
            <legend>Do you know their date of birth?</legend>
            <div class="validation-group inline toggle-control" data-toggle-target="section--dob" data-validation-type="required--one" data-validation-message="Please tell us if you know this person's date of birth" >

                <label class="block-label" for="dob__yes">
                    <input id="dob__yes" class="toggle-section" type="radio" name="helper--dob" value="Yes">
                    <span aria-hidden="true">Yes</span><span class="a11y"> Yes, I know the date of birth</span>
                </label>
                <label class="block-label" for="dob__no">
                    <input id="dob__no" class="toggle-section" type="radio" name="helper--dob" value="No">
                    <span aria-hidden="true">No</span><span class="a11y"> No, I don't know the date of birth</span>
                </label>
            </div>

            <div class="section--dob section--dob__yes toggle-controlled panel-indent validation-group form-date" data-form-validation-id="dob" data-validation-type="required--all" data-validation-message="Please enter the full date of birth" >
                <p class="form-label">Please enter it in this format: dd mm yyyy - for example: 31 3 1980</p>

                <div class="form-group">
                    <input type="number" class="form-control" id="dob-day" name="dob--day" pattern="^([1-9]|0[1-9]|[12][0-9]|3[0-1])$" min="1" max="31" maxlength="2" autocomplete="off">
                    <label class="form-hint" for="dob-day"><span aria-hidden="true">Day</span><span class="a11y">Day of date of birth</span></label>
                </div>

                <div class="form-group">
                    <input type="number" class="form-control" id="dob-month" name="dob--month" pattern="^([1-9]|0[1-9]|1[0-2])$" min="0" max="12" maxlength="2" autocomplete="off">
                    <label class="form-hint" for="dob-month"><span aria-hidden="true">Month</span><span class="a11y">Month of date of birth</span></label>
                </div>

                <div class="form-group">
                    <input type="number" class="form-control" id="dob-year" name="dob--year" pattern="^(19[0-9][0-9]|200[0-5])$" min="1900" max="2005" maxlength="4" autocomplete="off">
                    <label class="form-hint" for="dob-year"><span aria-hidden="true">Year</span><span class="a11y">Year of date of birth</span></label>
                </div>
            </div>

            <div class="section--dob section--dob__no toggle-controlled panel-indent validation-group" data-form-validation-id="age" data-validation-type="required--one" data-validation-message="Please enter the approximate age">
                <label class="form-label" for="dob-approx">Enter their approximate age</label>
                <input class="form-control required" id="dob-approx" name="dob--approx" type="number" pattern="^(0[1-9][0-9]|[1-9][0-9]|1[0-1][0-9]|120)$" min="10" max="120" maxlength="3" data-field-error="Please enter a valid age (between 10 and 120)" autocomplete="off">
            </div>

        </fieldset>

        <!-- ADDRESS -->

        <fieldset aria-live="polite">
            <legend>Does this person regularly live at another address?</legend>
            <div class="validation-group toggle-control separate" data-toggle-target="section--address" data-validation-type="required--one" data-validation-message="Please tell us if the partner regularly lives at a different address" id="validation-group--6">

                <label class="block-label" for="address__yes">
                    <input id="address__yes" class="toggle-section toggle--focus" type="radio" name="helper--address" value="Yes__address-yes">
                    Yes and I know the address
                </label>
                <label class="block-label" for="address__no-yes">
                    <input id="address__no-yes" class="toggle-section" type="radio" name="helper--address" value="Yes__address-no">
                    Yes but I don't know the address
                </label>
                <label class="block-label" for="address__no-no">
                    <input id="address__no-no" class="toggle-section" type="radio" name="helper--address" value="No">
                    No
                </label>
                <label class="block-label" for="address__unknown">
                    <input id="address__unknown" class="toggle-section" type="radio" name="helper--address" value="Unknown">
                    I don't know
                </label>
            </div>

            <div class="section--address section--address__yes__address-yes toggle-controlled panel-indent validation-group" aria-describedby="address__no-yes" tabindex="0" data-form-validation-id="address" data-validation-type="required--set" data-validation-sets="address--line-1,address--postcode|address--line-2,address--town" data-validation-message="Please enter at least either number and postcode or street and town" id="validation-group--7" style="display: block;">
                <label class="form-label" for="address">Building name or number</label>
                <input type="text" class="form-control" id="address" name="address--line-1" autocomplete="off">

                <label class="form-label" for="address-line-2">Street</label>
                <input type="text" class="form-control" id="address-line-2" name="address--line-2" autocomplete="off">

                <label class="form-label" for="town">Town or city</label>
                <input type="text" class="form-control" id="town" name="address--town" autocomplete="off">

                <label class="form-label" for="county">County</label>
                <input type="text" class="form-control" id="county" name="address--county" autocomplete="off">

                <label class="form-label" for="postcode">Postcode</label>
                <input type="text" class="form-control width__half" id="postcode" name="address--postcode" data-pattern="^([A-PR-UWYZ0-9][A-HK-Y0-9][AEHMNPRTVXY0-9]?[ABEHMNPRVWXY0-9]? {0,2}[0-9][ABD-HJLN-UW-Z]{2}|GIR 0AA)$" data-field-error="Please enter a valid postcode" autocomplete="off">
            </div>
        </fieldset>


        <!-- NATIONAL INSURANCE NUMBER -->

        <fieldset aria-live="polite">
            <legend>Do you know their National Insurance number?</legend>
            <div class="validation-group inline toggle-control" data-toggle-target="section--nino" data-validation-type="required--one" data-validation-message="Please tell us if you know this person's national insurance number" >

                <label class="block-label" for="nino__yes">
                    <input id="nino__yes" type="radio" class="toggle-section" name="helper--nino" value="Yes">
                    <span aria-hidden="true">Yes</span><span class="a11y"> Yes, I know the National Insurance number</span>
                </label>
                <label class="block-label" for="nino__no">
                    <input id="nino__no" type="radio" class="toggle-section" name="helper--nino" value="No">
                    <span aria-hidden="true">No</span><span class="a11y"> No, I don't know the National Insurance number</span>
                </label>
            </div>

            <div class="section--nino section--nino__yes toggle-controlled panel-indent validation-group" data-form-validation-id="nino" data-validation-type="required--one" data-validation-message="Please enter the National Insurance number">
                <label class="form-label" for="nino--ni-number">
                    Please enter their National Insurance number
                    <span class="form-hint">For example QQ123456C</span>
                </label>
                <input type="text" class="form-control" id="nino--ni-number" name="nino--ni-number" data-pattern="^(?!BG|GB|NK|KN|TN|NT|ZZ)[A-CEGHJ-PR-TW-Z]{1}[A-CEGHJ-NPR-TW-Z]{1}[0-9]{6}[A-D]{0,1}$" data-field-error="Please enter a valid National Insurance number." maxlength="9" autocomplete="off">
            </div>
        </fieldset>

        <!-- ADDITIONAL INFO -->

        <fieldset aria-live="polite">
            <legend>Do you know their telephone number?</legend>
            <div class="validation-group inline toggle-control" data-toggle-target="section--telephone" data-validation-type="required--one" data-validation-message="Please tell us if you know their telephone number" >

                <label class="block-label" for="telephone__yes">
                    <input type="radio" id="telephone__yes" class="toggle-section" name="helper--telephone" value="Yes">
                    <span aria-hidden="true">Yes</span><span class="a11y"> Yes, I know their telephone number</span>
                </label>
                <label class="block-label" for="telephone__no">
                    <input type="radio" id="telephone__no" class="toggle-section" name="helper--telephone" value="No">
                    <span aria-hidden="true">No</span><span class="a11y"> No, I don't know their telephone number</span>
                </label>
            </div>
            <div class="section--telephone section--telephone__yes toggle-controlled panel-indent validation-group" data-form-validation-id="telephone" data-validation-type="required--one-or-more" data-validation-message="Please enter at least one telephone number">


                <label class="form-label" for="telephone--mobile">Mobile <span class="a11y">telephone number</span></label>
                <input class="form-control" name="telephone--mobile" id="telephone--mobile" type="tel" data-pattern="^(?:(?:\(?(?:0(?:0|11)\)?[\s-]?\(?|\+)44\)?[\s-]?(?:\(?0\)?[\s-]?)?)|(?:\(?0))(?:(?:\d{5}\)?[\s-]?\d{4,5})|(?:\d{4}\)?[\s-]?(?:\d{5}|\d{3}[\s-]?\d{3}))|(?:\d{3}\)?[\s-]?\d{3}[\s-]?\d{3,4})|(?:\d{2}\)?[\s-]?\d{4}[\s-]?\d{4}))(?:[\s-]?(?:x|ext\.?|\#)\d{3,4})?$" data-field-error="Please enter a valid mobile number" autocomplete="off">

                <label class="form-label" for="telephone--home">Home  <span class="a11y">telephone number</span></label>
                <input class="form-control" name="telephone--home" id="telephone--home" type="tel" data-pattern="^(?:(?:\(?(?:0(?:0|11)\)?[\s-]?\(?|\+)44\)?[\s-]?(?:\(?0\)?[\s-]?)?)|(?:\(?0))(?:(?:\d{5}\)?[\s-]?\d{4,5})|(?:\d{4}\)?[\s-]?(?:\d{5}|\d{3}[\s-]?\d{3}))|(?:\d{3}\)?[\s-]?\d{3}[\s-]?\d{3,4})|(?:\d{2}\)?[\s-]?\d{4}[\s-]?\d{4}))(?:[\s-]?(?:x|ext\.?|\#)\d{3,4})?$" data-field-error="Please enter a valid telephone number" autocomplete="off">

                <label class="form-label" for="telephone--other"><span aria-hidden="true">Other</span><span class="a11y">Other telephone number</span></label>
                <input class="form-control" name="telephone--other" id="telephone--other" type="tel" data-pattern="^(?:(?:\(?(?:0(?:0|11)\)?[\s-]?\(?|\+)44\)?[\s-]?(?:\(?0\)?[\s-]?)?)|(?:\(?0))(?:(?:\d{5}\)?[\s-]?\d{4,5})|(?:\d{4}\)?[\s-]?(?:\d{5}|\d{3}[\s-]?\d{3}))|(?:\d{3}\)?[\s-]?\d{3}[\s-]?\d{3,4})|(?:\d{2}\)?[\s-]?\d{4}[\s-]?\d{4}))(?:[\s-]?(?:x|ext\.?|\#)\d{3,4})?$" data-field-error="Please enter a valid phone number" autocomplete="off">
            </div>
        </fieldset>


        <fieldset aria-live="polite">
            <legend>Do you know their email address?</legend>
            <div class="validation-group inline toggle-control" data-toggle-target="section--email" data-validation-type="required--one" data-validation-message="Please tell us if you know their email address" >

                <label class="block-label" for="email__yes">
                    <input type="radio" id="email__yes" class="toggle-section" name="helper--email" value="Yes">
                    <span aria-hidden="true">Yes</span><span class="a11y"> Yes, I know their email address</span>
                </label>
                <label class="block-label" for="email__no">
                    <input type="radio" id="email__no" class="toggle-section" name="helper--email" value="No">
                    <span aria-hidden="true">No</span><span class="a11y"> No, I don't know their email address</span>
                </label>
            </div>
            <div class="section--email section--email__yes toggle-controlled panel-indent validation-group" data-form-validation-id="email" data-validation-type="required--one" data-validation-message="Please enter their email address">

                <label class="form-label" for="email--email">Email address</label>
                <input class="form-control" name="email--email" id="email--email" type="email" data-pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$" data-field-error="Please enter a valid email address" autocomplete="off">
            </div>
        </fieldset>

        <fieldset>
            <legend>Do you know the address of their Facebook or Twitter page?</legend>
            <div class="validation-group" data-form-validation-id="social-media" data-validation-type="optional--one">
                <div class="form-group">
                    <label class="form-label a11y" for="social-media--info">Any social media details</label>
                    <textarea class="form-control" name="social-media--info" id="social-media--info" rows="4"></textarea>
                </div>
            </div>
        </fieldset>

        <div class="submit__continue">
            <input type="submit" id="submit" class="button" value="Continue" />
        </div>
        <div class="submit__send-report">
            <p>You've now answered all the questions and can submit your report.</p>
            <input type="submit" id="send-report" class="button" value="Send report" />
        </div>
    </form>



</main>






{{/content}}

{{/layout}}