{{<layout}}

{{$pageTitle}}
GOV.UK Reporting benefit fraud
{{/pageTitle}}

{{$content}}
<main id="content" role="main" class="content">
    <div class="outer-block">
        <div class="inner-block">
            <div class="phase-banner">
                <p><strong class="phase-tag">Alpha</strong> <span>This is a new service – your <a href="/rcm/dummy">feedback</a> will help us to improve it.</span></p>
            </div>
        </div>
    </div>

    <h1 class="heading-xlarge">Reporting Benefit Fraud</h1>

    <div class="text">
        <p>If you think someone is committing benefit fraud, it's quick and easy to report online.</p>
    </div>
    <div class="text">
        <div class="panel-indent">
            <p>Any information you provide will be treated in confidence and you will remain anonymous.</p>
        </div>
    </div>
    <div class="text">
        <p>You will need to tell us about the person or organisation and the type of fraud you think they are committing.</p>
    </div>

    </div>

    <a href="/rcm/form" class="button button-get-started" role="button">Tell us now</a>

    <p><a href="/rcm/dummy/">Other ways to report benefit fraud</a></p>

    <details>
        <summary><span class="summary">Benefit fraud explained</span></summary>
        <div class="panel-indent">
            <p>
                Benefit fraud explained
            </p>
        </div>
    </details>


</main>

{{/content}}

{{/layout}}
