{{<layout}}

{{$pageTitle}}
GOV.UK Reporting benefit fraud: Living abroad
{{/pageTitle}}

{{$content}}
<main id="content" role="main" class="content">
    <div class="outer-block">
        <div class="inner-block">
            <div class="phase-banner">
                <p><strong class="phase-tag">Alpha</strong> <span>This is a new service – <a href="dummy">your feedback</a> will help us to improve it.</span></p>
            </div>
        </div>
    </div>


    <div class="back-link"><a href="type-of-fraud" class="previousPage js-routed">Back</a></div>

    <h1 class="heading-large">
        Living abroad and claiming benefits
    </h1>

    <span id="IEuserData" name="IEuserData" class="IEuserData"></span>

    <form method="post" action="identity-fraud/" id="form__living-abroad" class="js-check js-routed">

        <fieldset>
            <legend class="a11y">Please tell us</legend>
            <div class="validation-group">

                <div class="validation-group" data-validation-type="required--one" data-validation-message="Please tell us at least where they are" id="validation-group--1">
                    <div class="form-group">
                        <label class="form-label legend" for="abroad-when-and-where">Where and when did they go?</label>
                        <textarea class="form-control" id="abroad-when-and-where" rows="4" name="abroad-when-and-where"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-label legend" for="abroad-why">Why did they go?</label>
                    <textarea class="form-control" id="abroad-why" rows="4" name="abroad-why"></textarea>
                </div>

                <div class="form-group">
                    <label class="form-label legend" for="abroad-when-return">When will they return?</label>
                    <textarea class="form-control" id="abroad-when-return" rows="4" name="abroad-when-return"></textarea>
                </div>

            </div>


        </fieldset>


        <input id="submit" type="submit" class="button" value="Continue" />

    </form>
</main>






{{/content}}

{{/layout}}