{{<layout}}

{{$pageTitle}}
GOV.UK Reporting benefit fraud: The suspect's employment
{{/pageTitle}}

{{$content}}
<main id="content" role="main" class="content">
    <div class="outer-block">
        <div class="inner-block">
            <div class="phase-banner">
                <p><strong class="phase-tag">Alpha</strong> <span>This is a new service – <a href="dummy">your feedback</a> will help us to improve it.</span></p>
            </div>
        </div>
    </div>

    <div id="submit-cover"><div class="bg"></div><div class="clock"><p>Please wait while we're submitting your report</p></div></div>

    <div class="back-link"><a href="{{previousPage}}#" class="previousPage">Back</a></div>

    <h1 class="heading-large">
        Additional information
    </h1>

    <span id="IEuserData" name="IEuserData" class="IEuserData"></span>

    <form method="post" action="complete/" id="form__other-information" class="js-check">

         <fieldset>
             <legend class="a11y">Anything else?</legend>
             <div class="validation-group">
                <label class="form-label legend" for="additional-information">Do you have additional information about the person or the suspected fraud?</label>
                <textarea class="form-control" id="additional-information" rows="5" name="additional-information"></textarea>
            </div>
        </fieldset>

        <p>You've now answered all the questions and can submit your report.</p>

        <input type="submit" id="submit" class="button" value="Send report" />

    </form>
<!--
    <p class="">
        <span class="header-medium">Alternatively, you can</span>
        <a href="/rcm/type-of-fraud" id="clear-form">clear the form and start again</a> or
        <a href="/rcm/">exit without sending</a>.

    </p>

-->
</main>






{{/content}}

{{/layout}}