{{<layout}}

{{$pageTitle}}
GOV.UK Reporting benefit fraud: The suspect's employment
{{/pageTitle}}

{{$content}}
<main id="content" role="main" class="content">
    <div class="outer-block">
        <div class="inner-block">
            <div class="phase-banner">
                <p><strong class="phase-tag">Alpha</strong> <span>This is a new service – <a href="dummy">your feedback</a> will help us to improve it.</span></p>
            </div>
        </div>
    </div>

    <div id="submit-cover"><div class="bg"></div><div class="clock"><p>Please wait while we're submitting your report</p></div></div>

    <div class="back-link"><a href="living-arrangement" class="previousPage js-routed">Back</a></div>

    <h1 class="heading-large" id="otherInformation">
      &nbsp;
    </h1>

    <span id="IEuserData" name="IEuserData" class="IEuserData"></span>

    <form method="post" action="review/" id="form__other-information" class="js-check margin-bottom-big">

         <fieldset>
             <legend class="a11y">Additional information</legend>
             <div class="validation-group">
                <label class="form-label legend" for="additional-information">Say as much as you can about what the person is doing wrong</label>
                <textarea class="form-control" id="additional-information" rows="5" name="additional-information"></textarea>
            </div>
        </fieldset>

        <input id="submit" type="submit" class="button" value="Continue" />

    </form>
<!-- See Jira RCM-494
    <p>
        <span class="header-medium">Alternatively, you can</span>
        <a href="/rcm/identify-suspect" class="clear-data">clear the form and start again</a> or
        <a href="/rcm/" class="clear-data">exit without sending</a>.
    </p>
-->

</main>






{{/content}}

{{/layout}}
