{{<layout}}

{{$pageTitle}}
GOV.UK Reporting benefit fraud
{{/pageTitle}}

{{$content}}

<main id="content" role="main" class="content multi-page">

    <div class="outer-block">
        <div class="inner-block">
            <div class="phase-banner">
                <p><strong class="phase-tag">Alpha</strong> <span>This is a new service – <a href="/rcm/dummy">your feedback</a> will help us to improve it.</span></p>
            </div>
        </div>
    </div>
<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge">Report dishonest benefit claims</h1>



    <div class="text">
        <p>Use this service to anonymously report someone you think is dishonestly claiming benefits.</p>
        <p>If you give enough information, the Department for Work and Pensions will investigate and may contact the person.</p>
        <p>Action will only be taken if the person has committed benefit fraud.</p>
    </div>
    <h2 class="heading-large">What you will need</h2>
    <p>To report someone you’ll need to:</p>

    <ul class="list-bullet margin-bottom-big">
        <li>give details to help identify the person</li>
        <li>answer questions about what they’re doing wrong</li>
    </ul>

    <span id="IEuserData" name="IEuserData" class="IEuserData"></span>

    <noscript>
        <h2 class="heading-large">Please enable javascript</h2>
        <p class="text">
            This website needs javascript to function, but your browser either doesn't support it or it has been disabled. Please enable it if you can, or use a different browser.
        </p>
        <div class="display-block-js">
    </noscript>
    <form action="/rcm/identify-suspect" method="get" class="js-check">
        <input type="submit" class="button button-get-started" value="Start now">
    </form>
    <noscript>
        </div>
    </noscript>
</div>
<div class="column-third">
    <div class="related-container">

        <aside class="related" id="related">
            <div class="inner group related-other">
              <h2 id="parent-other">Elsewhere on GOV.UK</h2>
              <nav role="navigation" aria-labelledby="parent-other">
                <ul>
                    <li>
                      <a href="https://www.gov.uk/benefit-fraud">Benefit fraud</a>
                    </li>
                </ul>
              </nav>
    </div>
          <div class="inner group">
            <a class="return-to-top" href="#content">Return to top ↑</a>
          </div>
        </aside>
    </div>
  </div>
</div>
</main>

{{/content}}

{{/layout}}
