{{<layout}}

{{$pageTitle}}
GOV.UK Reporting benefit fraud
{{/pageTitle}}

{{$content}}
<main id="content" role="main" class="content">
    <div class="outer-block">
        <div class="inner-block">
            <div class="phase-banner">
                <p><strong class="phase-tag">Alpha</strong> <span>This is a new service – <a href="/rcm/dummy">your feedback</a> will help us to improve it.</span></p>
            </div>
        </div>
    </div>

    <h1 class="heading-xlarge">Report benefit fraud</h1>



    <div class="text">
        <p>You can use this service to anonymously report someone you suspect of committing the following fraud:</p>
        <ul class="list-bullet">
            <li>not telling us about earnings</li>
            <li>living with a partner while claiming to be living alone</li>
        </ul>
        <p>If you want to report fraud relating to disability or carers benefits, identity fraud, or not telling us about savings or other income, you must use the <a href="https://secure.dwp.gov.uk/benefitfraud/">alternative service</a>.</p>
    </div>
    <h2 class="heading-large">What you will need</h2>
    <p>To report someone you suspect of benefit fraud you'll need to enter:</p>

    <ul class="list-bullet margin-bottom-big">
        <li>personal details about the person you want to report</li>
        <li>the type of fraud you think they are committing</li>
    </ul>

    <span id="IEuserData" name="IEuserData" class="IEuserData"></span>

    <form action="/rcm/identify-suspect" method="get" class="js-check">
        <input type="submit" class="button button-get-started" value="Start now">
    </form>


</main>

{{/content}}

{{/layout}}
