{{<layout}}

{{$pageTitle}}
GOV.UK Reporting benefit fraud
{{/pageTitle}}

{{$content}}
<main id="content" role="main" class="content">
    <div class="outer-block">
        <div class="inner-block">
            <div class="phase-banner">
                <p><strong class="phase-tag">Alpha</strong> <span>This is a new service – <a href="/rcm/dummy">your feedback</a> will help us to improve it.</span></p>
            </div>
        </div>
    </div>

    <h1 class="heading-large">Report benefit fraud</h1>
    <p class="lede">Use this service to anonymously report someone you think is committing benefit fraud.</p>
    <h2 class="heading-medium">What will happen to your report</h2>
    <p>If you give enough information, the Department for Work and Pensions will investigate the person.</p>
    <p>Action will only be taken if the person is found to have commited fruad.</p>


    <span id="IEuserData" name="IEuserData" class="IEuserData"></span>

    <noscript>
        <h2 class="heading-large">Please enable javascript</h2>
        <p class="text">
            This website needs javascript to function, but your browser either doesn't support it or it has been disabled. Please enable it if you can, or use a different browser.
        </p>

    </noscript>
    <div class="display-block-js">
    <a class="button button-get-started" href="details">Start now</a>
        </div>


</main>

{{/content}}

{{/layout}}
