{{<layout}}

{{$pageTitle}}
GOV.UK Reporting benefit fraud: Review your report
{{/pageTitle}}

{{$content}}
<main id="content" role="main" class="content">
    <div class="outer-block">
        <div class="inner-block">
            <div class="phase-banner">
                <p><strong class="phase-tag">Alpha</strong> <span>This is a new service – <a href="dummy">your feedback</a> will help us to improve it.</span></p>
            </div>
        </div>
    </div>

    <div id="submit-cover"><div class="bg"></div><div class="clock"><p>Please wait while we're submitting your report</p></div></div>

    <div class="back-link"><a href="{{previousPage}}#" class="previousPage">Back</a></div>

    <h1 class="heading-xlarge">
        <span class="heading-secondary">Section 4 of 4</span>
        Review and send your report
    </h1>

    <p>Before you send your report of suspected benefit fraud, review what you have entered</p></p>

    <div class="panel-indent" id="review-text"></div>

    <span id="IEuserData" name="IEuserData" class="IEuserData"></span>

    <form action="complete/" id="form__review" method="get" class="js-check">
        <input type="submit" id="submit" class="button" value="Send report" >
    </form>


</main>

{{/content}}

{{/layout}}
