{{<layout}}

{{$pageTitle}}
GOV.UK Reporting benefit fraud: What type of fraud
{{/pageTitle}}

{{$content}}
<main id="content" role="main" class="content">
    <div class="outer-block">
        <div class="inner-block">
            <div class="phase-banner">
                <p><strong class="phase-tag">Alpha</strong> <span>This is a new service – <a href="dummy">your feedback</a> will help us to improve it.</span></p>
            </div>
        </div>
    </div>

    <div class="back-link"><a href="{{previousPage}}#" class="previousPage">Back</a></div>

    <h1 class="heading-xlarge">
        Type of fraud
    </h1>


    <span id="IEuserData" name="IEuserData" class="IEuserData"></span>

    <form method="post" action="identify-partner/" id="form__fraud-type" class="js-check">

        <div class="validation-group" data-validation-type="required--one-or-more" data-validation-message="Please select at least one type of fraud." >

            <fieldset>
                <legend>
                    What type of fraud do you want to report?
                    <span>Select all that apply</span>
                </legend>

                <label class="block-label" for="workEarning">
                    <input id="workEarning" name="fraud-type" type="checkbox" value="workEarning">
                    Not telling us about earnings
                </label>
                <label class="block-label" for="livingWithPartner">
                    <input id="livingWithPartner" name="fraud-type" type="checkbox" value="livingWithPartner">
                    Living with a partner while claiming to be living alone
                </label>
<!--
                <label class="block-label" for="disabilityCarers">
                    <input id="disabilityCarers" name="fraud-type" type="checkbox" value="disabilityCarers">
                    Dishonestly claiming a disability or carers benefit
                </label>
                <label class="block-label" for="abroad">
                    <input id="abroad" name="fraud-type" type="checkbox" value="abroad">
                    The person claiming is no longer in the United Kingdom
                </label>
                <label class="block-label" for="idFraud">
                    <input id="idFraud" name="fraud-type" type="checkbox" value="idFraud">
                    Identity Fraud
                </label>
                <label class="block-label" for="savingsCapital">
                    <input id="savingsCapital" name="fraud-type" type="checkbox" value="savingsCapital">
                    Not telling us about savings or other income
                </label>
                <label class="block-label" for="unsure">
                    <input id="unsure" name="fraud-type" type="checkbox" value="unsure">
                    I'm not sure or I don't know
                </label>
                -->
            </fieldset>
        </div>

        <input id="submit" type="submit" class="button" value="Continue" />

    </form>

</main>

{{/content}}

{{/layout}}
