{{<layout}}

{{$pageTitle}}
GOV.UK Reporting benefit fraud: Undeclared income
{{/pageTitle}}

{{$content}}
<main id="content" role="main" class="content">
    <div class="outer-block">
        <div class="inner-block">
            <div class="phase-banner">
                <p><strong class="phase-tag">Alpha</strong> <span>This is a new service – <a href="dummy">your feedback</a> will help us to improve it.</span></p>
            </div>
        </div>
    </div>


    <div class="back-link"><a href="type-of-fraud" class="previousPage js-routed">Back</a></div>

    <h1 class="heading-large">
        Failing to report other income or savings
        <span class="heading-secondary">For example investments, inheritance or property related</span>
    </h1>

    <span id="IEuserData" name="IEuserData" class="IEuserData"></span>

    <form method="post" action="other-information/" id="form__undeclared-income" class="js-check">

        <fieldset>
            <legend class="a11y">Undeclared income</legend>
            <div class="validation-group" data-validation-type="required--one" data-validation-message="Please give us details about the income they haven't declared">
                <label class="form-label legend" for="undeclared-income">
                    What are the details?
                    <span>Include approximate values if you know them</span>
                </label>
                <textarea class="form-control" id="undeclared-income" rows="5" name="undeclared-income"></textarea>
            </div>
        </fieldset>


        <input id="submit" type="submit" class="button" value="Continue" />

    </form>
</main>






{{/content}}

{{/layout}}