{{<layout}}

{{$pageTitle}}
GOV.UK Reporting benefit fraud: Vehicle
{{/pageTitle}}

{{$content}}
<main id="content" role="main" class="content">
    <div class="outer-block">
        <div class="inner-block">
            <div class="phase-banner">
                <p><strong class="phase-tag">Alpha</strong> <span>This is a new service – your <a href="dummy">feedback</a> will help us to improve it.</span></p>
            </div>
        </div>
    </div>


    <h1 class="heading-large">
        <span class="heading-secondary">Reporting benefit fraud</span>
        About the vehicle
    </h1>

    <span id="IEuserData" name="IEuserData" class="IEuserData"></span>

    <form method="post" action="other-information/" id="form__vehicle" class="js-check js-routed">

        <fieldset class="inline">
            <div class="validation-group toggle-control" data-toggle-target="section--vehicle" data-validation-type="required--one" data-validation-message="Please let us if you can tell us about their vehicle" >

                <legend>Can you tell us anything about a vehicle they may own?</legend>
                <label class="block-label" for="vehicle__yes">
                    <input id="vehicle__yes" type="radio" class="toggle-section" name="helper--vehicle" value="Yes">
                    Yes
                </label>
                <label class="block-label" for="vehicle__no">
                    <input id="vehicle__no" type="radio" class="toggle-section" name="helper--vehicle" value="No">
                    No
                </label>

            </div>

            <div class="section--vehicle section--vehicle__yes toggle-controlled">
                <div class="panel-indent no-padding-top">
                    <div class="validation-group form-group-compound" data-form-validation-id="vehicle" data-validation-type="required--one" data-validation-message="Please tell us what kind of vehicle they own">
                        <div class="form-group">
                            <label class="form-label" for="vehicle--type">What kind of vehicle do they own?</label>
                            <input class="form-control" id="vehicle--type" name="vehicle--type" type="text">
                            <p class="form-hint display-block">For example car, van, motorcycle</p>
                        </div>
                    </div>


                    <div class="validation-group">
                        <div class="form-group">
                            <label class="form-label" for="vehicle--owner">Who is the owner of the vehicle?</label>
                            <input class="form-control" id="vehicle--owner" name="vehicle--owner" type="text">
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="vehicle--registration">Do you know the Registration number?</label>
                            <input class="form-control" id="vehicle--registration" name="vehicle--registration" type="text">
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="vehicle--make">What is the make of the vehicle?</label>
                            <input class="form-control" id="vehicle--make" name="vehicle--make" type="text">
                        </div>


                        <div class="form-group">
                            <label class="form-label" for="vehicle--model">What is the model of the vehicle?</label>
                            <input class="form-control" id="vehicle--model" name="vehicle--model" type="text">
                        </div>


                        <div class="form-group">
                            <label class="form-label" for="vehicle--colour">What is the colour of the vehicle?</label>
                            <input class="form-control" id="vehicle--colour" name="vehicle--colour" type="text">
                        </div>
                    </div>
                </div>

            </div>
        </fieldset>


        <input id="submit" type="submit" id="complete" class="button" value="Continue" />

    </form>


    <a href="{{previousPage}}#" class="previousPage">Back</a>

</main>






{{/content}}

{{/layout}}